@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

$family-primary: 'Oswald';
$body-background-color: hsl(179, 3%, 90%);
$navbar-background-color: hsl(246, 46%, 90%);
$card-background-color: hsl(218, 17%, 21%);
$radius-large: 6px;


.card-content{
  color:hsl(179, 3%, 90%);
}

.card{
  border-radius: 10px;
}

.hero.is-large.is-light.is-bold.bg-img{
  background-image: url('/img/glassHero.jpg');
}
.title.is-1{
  color: white;
}
.hero.is-light .title.is-1{
  color:#dcdaf1;
}

.hero.is-light .subtitle.is-4{
  color:#dcdaf1;

}
@import '~bulma'
